body {
    background-color: rgb(177, 219, 208);
}

.theGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    

}

.galleryRightSide {
    position: fixed;
    right: 0;
 
    z-index: -1;
}

.card {
    margin: 1%;
    margin-right: 3%;
    width: 200px;
    align-items: center;
    justify-content: space-around;

}

.theGallery>img {
    opacity: 0.8;
    z-index: -2;
    border-radius: 0;
    position: fixed;
    background-repeat: repeat-x;
    align-items: center;
    width: 1800px;
    height: 1000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.DonutsGallery>img {
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    z-index: -2;
}

.DonutsGallery {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .theGallery {
        width: 100%;
    }
}