.donutBackground{
    opacity: 0.3;
    z-index: -2;
    border-radius: 0;
    position: fixed;
    background-repeat: repeat-x;
    align-items: center;
    width: 1800px;
    height: 1000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h1,h2 {
    margin-bottom: 20px;
}
h3 {
    text-align: center;
    margin-bottom: 30px;
  }
.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .specials-list {
    display: flex;
    justify-content: space-between;
  }
  
  .special-item {
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 25px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 40px;
    
  }
  
  .special-item:hover {
    transform: scale(1.05);
  }
  
  .special-image {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  

  